.block_div {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-content: center;
	margin: 50px auto;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	padding: 25px;
}
.head {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	margin: 10px 0;
}
.head > p {
	width: 120px;
	margin: 0;
}
.head > div {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.divider {
	display: flex;
	margin-top: 30px;
	line-height: 30px;
	justify-content: space-between;	
}
.divider:before {
	content: "";
	display: block;
	background: #e8e8e8;
	height: 1px;
	width: 10%;
	margin-top: 14px;
}
.divider:after {
	content: "";
	display: block;
	background: #e8e8e8;
	height: 1px;
	width: 100%;
	margin-top: 14px;
}
.divider > span {
	padding: 0 1em;
	font-weight: 500;
}

.list {
	margin-left: 10px;
}
.text > span {
	font-weight: 500;
	padding: 0 5px;
}
.link_profile {
	margin-left: 6px;
	color: #1890ff !important;
}
.link_profile:hover {
	text-decoration: underline !important;
}
.loading {
	margin: 50px auto;
	width: 30px;
}

@media (max-width: 767px) {
	.head > div {
		margin-top: 10px;
	}
}
@media (max-width: 414px) {
	.head > div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.head > div > div {
		margin-top: 10px;
	}
}
