.intervalsContainer {
	min-height: 500px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
}

.newTime {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.DayPicker-Day--calendar {
	color: rgb(1, 103, 255) !important;
	font-weight: 700;
	border-bottom: 1.5px solid rgb(1, 103, 255) !important;
}


.DayPicker-Day--available {
	position: relative;
	color: rgb(1, 103, 255) !important;
	font-weight: 700;
	border-bottom: 1px solid rgb(1, 103, 255) !important;
}


.DayPicker-Day--reserved_4 {
	position: relative;
	font-weight: 700;
}
.DayPicker-Day--reserved_4::before {
	position: absolute;
	content: '';
	height: 14px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(5, 181, 10, 0.45);
}


.DayPicker-Day--reserved_8 {
	position: relative;
	font-weight: 700;
}
.DayPicker-Day--reserved_8::before {
	position: absolute;
	content: '';
	height: 30px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 200, 1, 0.45);
}


.DayPicker-Day--reserved_12 {
	position: relative;
	font-weight: 700;
}
.DayPicker-Day--reserved_12::before {
	position: absolute;
	content: '';
	height: 42px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 24, 1, 0.45);
}



.DayPicker-Day--reserved_24 {
	position: relative;
	font-weight: 700;
}
.DayPicker-Day--reserved_24::before {
	position: absolute;
	content: '';
	height: 42px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-color: rgba(255, 1, 213, 0.45);
}


.DayPicker-Day--selected {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(1, 103, 255);
}


.DayPicker-Day {
	height: 42px;
    width: 42px;
}
.DayPicker-Day--today {
	color: rgb(7, 198, 208) !important;
}