h1 {
	width: 170px;
}
.search-form {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	max-width: 690px;
	margin: 20px 0;
}
.range-picker {
	width: 255px; 
	margin-bottom: 5px;
}
.input-search-text {
	width: 175px;
}
.input-group-search {
	width: 255px;
	margin-bottom: 5px;
}