.table-col-id {
	min-width: 65px;
}
.table-col-fname {
	min-width: 130px;
}
.table-col-lname {
	min-width: 170px;
	max-width: 250px;
}
.table-col-email {
	min-width: 170px;
}
.table-col-action {
	min-width: 90px;
}

.table-col-desc {
	/* min-width: 250px; */
	/* max-width: 450px; */
	width: 450px;
}