@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
	/* height: 100%; */
	/* width: 100%; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 200px;
}

#loader > span:first-child {
	width: 40px;
	height: 40px;
	margin: 20px 0;
	text-indent: -12345px;
	border-top: 1px solid rgba(0,0,0,.08);
	border-right: 1px solid rgba(0,0,0,.08);
	border-bottom: 1px solid rgba(0,0,0,.08);
	border-left: 1px solid rgba(0,0,0,.7);
	border-radius: 50%;
	z-index: 100001;
	-webkit-animation: _1oi4v .6s infinite linear;
	animation: spin .6s infinite linear;
}
#loader > span:last-child {
	width: 100px;
	height: 20px;
	text-align: center;
	font-size: 12px;
	font-family: "Monospace Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 4px;
	margin-left: 5px;
	color: #000;
}